<%- include layouts/header.ejs %>
    
        <h2>Login<h2>
<p style="text-align:center; color: red"><% if(error == "true") { %>Login details is incorrect. <% } %></p>
<form action="/checkLogin" method="post">
  <div class="container" id="login">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

     <input type="submit" name="submit" value="Save">
  </div>

</form>
<%- include layouts/footer.ejs %>